.grey-color-text {
  color: $grey;
}

.red-color-text {
  color: $red;
}

.green-color-text {
  color: $green;
}

.tweet-text img {
  padding-bottom: 16px;
}

.media-object .tweet-text img {
  max-width: 95%;
}
